body {
    background: #482810;
}

.grid-container {
    width: 960px;
    border: 4px solid #ffff11;
    margin: 0 auto;
}

.grid-item {
    background: #ffb642;
    padding: 10px;
    border: 1px solid red;
}