/*
palette de couleurs :

bleu foncé : #262087  rgb(37, 32, 136)
gris foncé : #333333 rgb(51, 51, 51)
vert clair : #59ff7c  rgb(89, 255, 124)
vert : #20875a
gris clair : #ebe6e1
rouge transparent : #ba196a rgb(186, 25, 106)
bleu clair : #59bdff rgb(89, 189, 255)
*/


/*
Import des google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Raleway:wght@100&display=swap');

body {
    background-color: #ebe6e1;
    font-family: Raleway, Verdana, sans-serif;
    color: #333333;
}

.wrapper {
    max-width: 768px;
    margin: 0px auto;
}

img.responsive {
    width: 100%;
    height: auto;
}

/*buttons*/
.button-group {
    font-size: 0px;
}

.button-group li {
    display: inline-block;
}

.button-group li a {
    border-radius: 0px;
}

.button-group li:first-child a {
    border-radius: 5px 0px 0px 5px;
}

.button-group li:last-child a {
    border-radius: 0px 5px 5px 0px;
}

.button a {
    background-color: #fff;
    text-align: center;
    padding-top: 6px;
    border: 2px solid #59bdff;
    border-radius: 5px;
    color: #333333;
    font-size: 30pt;
    height: 60px;
    width: 60px;
    display: inline-block;
}

.button a:hover {
    background-color: #59bdff;
}

/*Header*/
#header {
    background-color: #262087;
    padding: 0px 20px;
    height: 120px;
    padding-top: 20px;
}

#header figure {
    width: 65.853%;
    display: inline-block;
    vertical-align: middle;
}

#header figure img {
    width: 48.148%;
}

#header figure figcaption {
    color: #fff;
}

#header ul {
    width: 33.6%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

#mainNav {
    background-color: #333333;
    padding: 20px;
}

#mainNav p {
    text-align: right;

}

#mainNav ul {
    display: none;
}

#mainNav ul li {
    margin: 20px;
}

#mainNav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Oxygen, Verdana, sans-serif;
    font-size: 24pt;
}

#mainNav ul li a:hover {
    color: #59bdff;
    border-bottom: 5px solid #59bdff;
}

/*titre de la page*/
#title {
    background-color: #20875a;
    padding: 0px 20px;
}

#title .wrapper {
    position: relative;
    top: 20px;
}

#title h1 {
    padding: 10px;
    color: #fff;
    font-family: Oxygen, Verdana, sans-serif;
    font-size: 30pt;
    background-color: #ba196a;
    background-color: rgba(186, 25, 106, 0.80);
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/*Contenu principal*/

#mainContent .wrapper {
    margin-top: 40px;
}

#mainContent article {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#mainContent {
    background-color: #ebe6e1;
    padding: 0px 20px;
}

#footer {
    background-color: #333333;
    padding: 0px 20px;
}